.choice-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  height: 10vh;
  justify-content: space-between;
  margin-bottom: 3vw;
}

.choice-wrapper > .sub-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 3vh;
  flex-basis: 1;
}

.choice-wrapper > .sub-wrapper > h3 {
  text-align: center;
  width: 20vw;
}

.choice-input-button-left > .circle {
  margin-left: 50%;
}

.choice-input-button-right > .circle {
  margin-right: 50%;
}

.choice-input-button {
  height: 100%;
  width: 20%;
  display: flex;
  border: none;
  border-radius: 20px;
  background-color: var(--blue-700);
  /* border: 3px solid black; */
}

.choice-input-button > .circle {
  height: 100%;
  background-color: black;
  width: 50%;
  border-radius: 20px;
  transition: 0.5s;
  animation-timing-function: ease-in;
  /* border: 3px solid black; */
}
