.how-it-works-wrapper {
    margin-top: 3vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--gray-100);
    width: auto;
    padding: 2vw;
    border-radius: var(--radius-card);
}

.how-it-works-wrapper > h3 {
    margin-bottom: 2vw;
}

.how-it-works-wrapper > ol {
    font-weight: 500;
    list-style: none;
}

.how-it-works-wrapper > ol > li {
    margin-bottom: 1.5vw; 
}