.result-wrapper {
    margin-top: 2vw;
    background-color: var(--gray-100);
    padding: 1vw;
    border-radius: var(--radius-card);
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.data-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.data-wrapper > .credibility-score {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.data-wrapper > .credibility-score > h3 {
    margin-bottom: 1vw;
}

.data-wrapper > .credibility-score > .progress-bar {
    width: 60%;
    height: 2vh;
    border: 2px solid black;
    border-radius: var(--radius-button);
}

.data-wrapper > .credibility-score > .progress-bar > .fill {
    border-radius: var(--radius-button);
    height: 100%;
}

.data-wrapper > .risk-level {
    margin-top: 1vw;
}

.data-wrapper > .flags {
    margin-top: 1vw;
}

.data-wrapper > .flags > h2 {
    text-align: center;
    margin: .5vw 0;
}

.data-wrapper > .explanation, .advice, .truth {
    margin-top: 1vw;
    padding: 1vw;
    border-radius: var(--radius-card);
    background-color: var(--blue-100);
}

.data-wrapper > .explanation > h2, .advice > h2, .truth > h2 {
    margin-bottom: 1vw;
}